{{!-- <!DOCTYPE html>
<html>
<head>
    <title>Detalle de propiedad</title>
</head>
<body>
    {{#if propiedad}}
        <h1>{{propiedad.Title}}</h1>
        <p>{{propiedad.Provincia}}</p>
        <img src="{{propiedad.MainPhoto}}" alt="Imagen de propiedad" />
    {{else}}
        <p>Propiedad no encontrada</p>
    {{/if}}
</body>
</html> --}}


 <body>

    {{!-- <div class="barraRoja" style="background-color: white; width: 100%; height: 120px;">
        <img height="60px" src="https://i.postimg.cc/ZnjV8rNs/Artboard-1.png" alt="">
    </div> --}}
   
{{!-- <body>
    {{#if detalle}}
        <h1>{{detalle.Title}}</h1>
        <p>{{detalle.Provincia}}</p>
        <img src="{{detalle.MainPhoto}}" alt="Imagen de propiedad" />
        <img src="{{detall.ImageSources}}" alt="Imagenes de propiedad">
    {{else}}
        <p>Propiedad no encontrada</p>
    {{/if}}
</body>


<style>

  body {
    font-family: Montserrat, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }

  .barraRoja{
    margin-bottom: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px;
  }
  
  .card {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    margin: 20px;
    max-width: 100%;
    overflow: hidden;
    transition: 0.3s;
    width: 100%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  .card-image {
    width: 100%;
    height: auto;
  }
  
  .card-details {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }
  
  .card-details h4 {
    margin: 0;
    font-size: 14px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
  .card-details p {
    margin: 0;
    margin-top: 10px;
    color: black;
  }
  
  /* Media queries para diferentes tama침os de pantalla */
  @media screen and (min-width: 40em) {
    .card {
      flex: 0 1 calc(100% - 1em);
      max-width: calc(50% - 1em);
    }
  }
  
  @media screen and (min-width: 70em) {
    .card {
      flex: 0 1 calc(25% - 1em);
      max-width: calc(25% - 1em);
    }
  }
  
</style> --}}



<body class="bg-gray-100">
  <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl my-10">
    {{#if detalle}}
      <div class="md:flex">
       
        <div class="p-8">
          <h1 class="text-xl font-bold"> <strong> {{detalle.Title}} </strong></h1>
          <p class="text-gray-700 mt-2">Referencia: {{detalle.Id}}</p>
          <p class="text-gray-700 mt-2">Provincia: {{detalle.Provincia}}</p>
          <p class="text-gray-700 mt-2">Precio: {{detalle.Price}}</p>
          <p class="text-gray-700 mt-2">Descripci칩n: {{detalle.Descripcion}}</p>
          <p class="text-gray-700 mt-2">Direccion: {{detalle.Direccion}}</p>
          <p class="text-gray-700 mt-2">Metros Cuadrados: {{detalle.MetrosCuadrados}}</p>
          <p class="text-gray-700 mt-2">Habitaciones: {{detalle.Dormitorios}}</p>
          <p class="text-gray-700 mt-2">Ba침os: {{detalle.Ba침os}}</p>
        </div>
      </div>
       <div class="md:shrink-0 mr-3">
          <img class="h-32 w-full object-cover md:h-48 md:w-48 lg:h-64 lg:w-64 m-6 " src="{{detalle.MainPhoto}}" alt="Imagen de propiedad">
        </div>
      <div class="p-2 grid grid-cols-2 md:grid-cols-4 gap-4">
        {{#each detalle.ImageSources}}
          <img class="w-full h-32 object-cover" src="{{this}}" alt="Imagenes de propiedad">
        {{/each}}
      </div>

    {{else}}
      <div class="p-8">
        <p class="text-gray-700">Propiedad no encontrada</p>
      </div>
    {{/if}}
  </div>
</body>

